# Byte-compiled Python files
__pycache__
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.Python
.venv/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

.coverage
.git/
.github/
.idea/
.pytest_cache/

database.db
